body{
    width: 100%;
    height: 100%;
}
html{
    width: 100%;
    height: 100%;
}

#app{
    width: 100%;
    height: 100%;
}

.heart{
    width: 100px;
    height: 90px;
    /* position:relative; */
    animation: heartAnim 3s infinite  , scaleHeart 3s infinite;

}

.heart_left , .heart_right{
    position: absolute; 
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 50% 50% 0% 0%;
}

.heart_left {
    top: 0;
    left: 42px;
    rotate: 45deg;
}

.heart_right {
    top: 0;
    left: 20px;
    rotate: -45deg;
}
@keyframes scaleHeart{
    0%{
        scale:100%;
    }
    50%{
        scale: 200%;
    }
    100%{
        scale: 100%;
    }
}

@keyframes heartAnim{
    0%{
        translate: 500px 00px;
    }
    20%{
        translate: 00px 00px;
    }
    40%{
        translate: 1000px 00px;
    }
    60%{
        translate: 500px 00px;
    }
    80%{
        translate: 500px 1000px;
    }
    100%{
        translate: 500px 00px;


    }
}

table {
    width: 100%;
    max-width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

@media (max-width: 768px) {
    th, td {
        overflow-x: auto;
    }
}
/*  */
#tablecontainer{
    overflow-x: auto;
}
/*  */
@media (max-width: 768px) {
    #tablecontainer2 th:nth-child(n+4),
    #tablecontainer2 td:nth-child(n+4) {
        display: none;
    }
}
/*  */
@media (max-width: 768px) {
    #tablecontainer3  {
        display: none;
    }
    ul, li{
        display: block;
    }
}
@media (min-width: 768px) {
    #tablecontainer3  {
        display: block;
    }
    ul, li{
        display: none;
    }
}

